<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <h1>Epic Hair Salon</h1>
            <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
                <h2>{{ stylist.getName }}'s Clientele:</h2>
                <form class="form-group" action="/stylist/{{ stylist.getId }}/edit" method="get">
                    <button type="submit" class="btn btn-primary">Edit {{ stylist.getName }}</button>
                </form>
                {% if clients %}
                    <ul>
                        {% for client in clients %}
                            <a href="/client/{{ client.getId }}"><li>{{ client.getName }}</li></a>
                        {% endfor %}
                    </ul>
                    <form class="" action="/stylist/{{ stylist.getId }}/delete_all" method="post">
                        <button type="submit" class="btn btn-danger">Delete All</button>
                    </form>
                {% endif %}
            <form class="form-inline" action="/stylist/{{ stylist.getId }}/" method="post">
                <h4>Add a new Client</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="client_name" placeholder="Name" required>
                    <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
                </div>
                <button type="submit" class="btn btn-success">+</button>
            </form>
        </div>
    </body>
</html>
