<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <h1>Epic Hair Salon</h1>
            {% if stylists %}
                <h2>{{ stylist.getName }}'s Clientele:</h2>
                <ul>
                    {% for client in clients %}
                        <a href="/stylist/{{ stylist.getId }}/{{ client.getId }}"><li>{{ client.getName }}</li></a>
                    {% endfor %}
                </ul>
                <form class="" action="/stylist/{{ client.getId }}/delete_all" method="post">
                    <button type="submit" class="btn btn-danger">Delete All</button>
                </form>
            {% endif %}
            <form class="form-inline" action="/stylist/{{ client.getId }}/add_client" method="post">
                <h4>Add a new Client</h4>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" required>
                </div>
                <button type="submit" class="btn btn-success">+</button>
            </form>
        </div>
    </body>
</html>
